         <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'sports'  %}">Sport</a>
                </li>
                <li>
                    <a href="{% url 'teams'  %}">Team</a>
                </li>
                <li>
                    <a href="{% url 'roster'  %}">Roster</a>
                </li>
                <li>
                    <a href="{% url 'player'  %}">Player</a>
                </li>
                <!--li class="dropdown">
                  <a href="{% url 'sports'  %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sport <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Soccer</a></li>
                    <li><a href="#">Rock Climbing</a></li>
                    <li><a href="#">Triathalon</a></li>
                    <li><a href="#">Puzzle Team</a></li>
                    <li><a href="#">Competative Shopping</a></li>
                    <li><a href="#">Birding</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="{% url 'roster'  %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Team <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Please Select a Sport</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="{% url 'player'  %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Player <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Please Select a Team</a></li>
                  </ul>
                </li-->
              </ul>